body{
background-color: #140a01;
}
.body {

	width: 70%;
	margin: 30px auto;


}
.btn-next-wrapper {
  display: flex;
  justify-content: flex-end;
position: fixed;
}
.img{
	position: fixed;
  top: 8%;
  right: 5%;
	width: 100px;
	height:  100px;
}

h1 {
  font-size: 26pt;
  font-weight: normal;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  font-family: 'Lobster', cursive;
		margin: 0;
}
h2{
  text-align: center;
  color: #fff;
  font-family: 'Lobster', cursive;
	line-height: 1.5;
	font-size: 22pt;
	font-weight: normal;
	line-height: 1.3;
		margin: 20px;
}


.wrapper {
	display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.content{

}
a {
	color: #fff;
  margin: auto;
}
.link{
	color: #fff;
}
button{
border-radius: 30px;
background-color: #FEC75E;
padding: 20px;
border: 2px solid #000;
margin: 50px;
font-size: 30px;
}
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
ul{
margin: 0;
	text-align: justify;
}
li {
    list-style-type: none; /* Убираем маркеры */

   }
	 .insta{
		 	list-style-image: url(insta.png);
	 }
	 .site{
		 	list-style-image: url(site.png);
	 }

	 .facebook{
		 list-style-image: url(facebook.png);
	 }
.smm{
	font-size: 20pt;
}
.media{
	display: flex;
	justify-content: center;
}
footer{
display: flex;
justify-content: center;
}
p,a{
		color: #9e9e9e;

}
.autor{

	width: 25%;
	color: #eee;
background-image: linear-gradient(to bottom, #000203, #0e0f10, #171818, #1f1f1f, #272727);


}
